################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/TodoAPI/bin
/XUnitTestProject/bin/Debug/netcoreapp2.0
/XUnitTestProject/obj
